<!-- <html>
<head>
    <title>Demo page of the widget</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <style type="text/css">
        body {
            height: 100vh;
            background-image: url(/img/darsabra.jpg);
            background-size: cover;
        }
    </style>
</head>
<body>
    <div id="dbw-inline-trigger" class="dbw-inline-trigger">
        Personalize Your Stay
    </div>
    <script>
        (function (w,d,s,o,f,js,fjs) {
            w['DBWObject']=o;w[o] = w[o] || function () { (w[o].q = w[o].q || []).push(arguments) };
            js = d.createElement(s), fjs = d.getElementsByTagName(s)[0];
            js.id = o; js.src = f; js.async = 1; fjs.parentNode.insertBefore(js, fjs);
        }(window, document, 'script', 'dbw', './dbw.js?ver=156'));
        dbw('create', '154592-cf020a0ff501a0df68c39246def122dcc3f537f');
    </script>
</body>

</html> -->

<div class="background">
    



 
<router-outlet></router-outlet>
