<a  target="_blank"></a> 

<body ng-app="myApp"></body>
                                
<div ng-view>
  <div class="background">
  <div style="  line-height: 2rem;letter-spacing: .0125em;" >
  The Maryalbone Hotel
  <div class="background">
  <div class="container">
    <div class="row">
      <div class="navbar">
        <span class="v-stepper__step__step primary"><span aria-hidden="true" class="v-icon notranslate v-icon--svg theme--light"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24" role="img" aria-hidden="true"><path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"></path></svg></span></span>
        <div class="v-stepper__label" style="color:black; font-size: 15px;">Date</div>
        <hr role="separator" aria-orientation="horizontal" class="v-divider theme--light">
        <span  class="v-stepper__step__step primary">2</span>
        <div class="v-stepper__label"style="color:black;font-size: 15px;">Room</div>
        <hr role="separator" aria-orientation="horizontal" class="v-divider theme--light">
        <span class="v-stepper__step__step primary">3</span>
        <div class="v-stepper__label"style="color:black;font-size: 15px;">Service</div>
        <hr role="separator" aria-orientation="horizontal" class="v-divider theme--light">
        <span class="v-stepper__step__step primary">4</span>
        <div class="v-stepper__label"style="color:black;font-size: 15px;">Booking</div>
  </div>
  </div>
  </div>
</div>
</div>

<div class="content">
<div class="background-room">
<div class="row" style="justify-content:center;">
<div class="card-title text-center" style="color: black;font-size: 15px; margin-left: -54px;">Complete The Information</div>

<div class="col-4">
  <img style="height: 130px; width: 250px;" class="card-img-top" src="../assets//image/room.jpg" alt="Card image">
    <div class="cointainer fluid" style="width:20px"></div>
      <!-- <img style="height: 130px; width: 257px;" class="card-img-top" src="../assets//image/room.jpg" alt="Card image"> -->
         <div class="card" style="margin: top 200px; width:250px">
          <div>
          </div>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


          <form class="example" action="action_page.php">
</form>
<div class="card-body" >
    <div class="v-card__title" style="font-size:15px; width:100px">Stay</div> 
    <div class="v-card__subtitle pr-0" style="font-size: 8px">1 room, 2 guests, 1 night</div>
    <div class="v-card__subtitle pr-0" style="font-size: 8px">18 August 2023 - 19 August 2023</div>
    <div class="v-card__subtitle pr-0" style="font-size: 19px">1 x Double room</div>
     <hr role="separator" aria-orientation="horizontal" class="v-divider theme--light">
    </div>
     <div>
    <small class="caption" style="font-size:10px">According to the cancellation policy, this offer is non cancellable the total amount of the reservation will be charged</small>
    <hr role="separator" aria-orientation="horizontal" class="v-divider theme--light">
    <div class="v-card__text text-center black--text"><span class="title">Total $207</span><span class="ml-1 subtitle-1">(€188)*</span></div>
    </div>
  </div>
  </div>

  <div class="col-4">
    <div class="card" style="  width: 250px;
    height: 250x;">
      <form>
        
        <div class="form-group" >
        <input type="text" id="fname" name="fname" placeholder="FirstName">
          <input type="text" id="fname" name="fname" placeholder="Lastname">
          <input type="text" id="fname" name="fname" placeholder="Email">
          <input type="text" id="fname" name="fname" placeholder="Phone">
          <p>to confirm your booking you need a verfication</p>
        </div> 

       
       
        <div class="subcontent3">
          <button routerLink="/room" class="btn btn-dark next-section">Book</button>
  
        </div>   
      
  
         
            
          
          
          
          
          
          
          
         