.background {
  background-color: whitesmoke;
 
  
}

.background-room {
  background: whitesmoke;
}


button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 241px;
  margin-bottom: 10px;
  margin-top: 13px;
}

element.style {
  width: 250px;
  height: 249px;
}


.background[_ngcontent-daf-c56] {
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-color: whitesmoke;
}

.col-4 {
  flex: 0 0 auto;
  width: 26.333333%;
}

small.caption {
  margin-left: 4px;
}

img.card-img-top {
  width: 250px;
}

element.style {
  height: 130px;
  max-width: 251px;
}

img.card-img-top[_ngcontent-kno-c55] {
  width: 250px;
}

.navbar {
  background-color: white;
}

text-center {
  text-align: center!important;
  margin-bottom: 10px;
}

element.style {
  height: 130px;
  width: 248px;
}

