 <div ng-view></div>
  
  <a  target="_blank"></a> 

<body ng-app="myApp"></body>
                                
<div ng-view></div> 
  <div class="background">
  <div style=" 
  line-height: 2rem;
  letter-spacing: .0125em;" >
  The Maryalbone Hotel
  <div class="background">
  <div class="container">
    <div class="row">
      <div class="navbar">
        <span class="v-stepper__step__step primary"><span aria-hidden="true" class="v-icon notranslate v-icon--svg theme--light"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24" role="img" aria-hidden="true"><path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"></path></svg></span></span>
        <div class="v-stepper__label" style="color:black; font-size: 15px;">Date</div>
        <hr role="separator" aria-orientation="horizontal" class="v-divider theme--light">
        <div class="v-stepper__label"style="color:black;font-size: 15px;">Room</div>
        <hr role="separator" aria-orientation="horizontal" class="v-divider theme--light">
        <div class="v-stepper__label"style="color:black;font-size: 15px;">Service</div>
        <hr role="separator" aria-orientation="horizontal" class="v-divider theme--light">
        <div class="v-stepper__label"style="color:black;font-size: 15px;">Booking</div>
  </div>
  </div>
  </div>
  </div>
  </div>

<!-- <div  class="background">
     <h2 class="dbe-start-title text-center text-uppercase headline ">The Dolle Collection</h2> -->
    <!-- <h5 class="card-title text-center" style="color: white;font-size: 10px;">The Dolle Collection</h5>
    <h2 class="dbe-start-title text-center text-uppercase headline" style="color:white;font-size: 10px;">London,Dublin,Wasington,Cork,Bristol</h2>
    <h2 class="dbe-start-title text-center text-uppercase headline" style="color: white;font-size: 10px;">What are you looking for?</h2>
    <div >
          -->
   
 <div class="container-fluid card-wrapper">

  <div class="container-fluid">
        
  <div class="container ss">
                    
  <div class="row">
 <div class="col-sm-3">
            
<div class="card"routerLink="/booking">

<img style="height: 150px; max-width:100%"  class="card-img-top" src="../assets//image/door1.jpg" alt="Card image">
<div class="card-body"style="height:70px;">
<div class="v-card__subtitle text-center subtitle-1 pb-4" style="color: black; height:20px; font-weight: 600; font-size:14px;">Stay</div>
<div class="v-card__subtitle text-center subtitle-1 pb-4"> Room & Services </div>   
</div>
</div>

</div>
<div class="col-sm-3">
            
  <div class="card"routerLink="/booking">
  
  <img style="height: 150px; max-width:100%"  class="card-img-top" src="../assets//image/door2.jpg" alt="Card image">
  <div class="card-body"style="height:70px;">
  <div class="v-card__subtitle text-center subtitle-1 pb-4" style="color: black; height:20px; font-weight: 600; font-size:14px;">Stay</div>
  <div class="v-card__subtitle text-center subtitle-1 pb-4"> Room & Services </div>   
  </div>
  </div>
  
  </div>
  <div class="col-sm-3">
            
    <div class="card"routerLink="/booking">
    
    <img style="height: 150px; max-width:100%"  class="card-img-top" src="../assets//image/door5.jpg" alt="Card image">
    <div class="card-body"style="height:70px;">
    <div class="v-card__subtitle text-center subtitle-1 pb-4" style="color: black; height:20px; font-weight: 600; font-size:14px;">Stay</div>
    <div class="v-card__subtitle text-center subtitle-1 pb-4"> Room & Services </div>   
    </div>
    </div>
    
    </div>
    <div class="col-sm-3">
            
      <div class="card"routerLink="/booking">
      
      <img style="height: 150px; max-width:100%"  class="card-img-top" src="../assets//image/door4.jpg" alt="Card image">
      <div class="card-body"style="height:70px;">
      <div class="v-card__subtitle text-center subtitle-1 pb-4" style="color: black; height:20px; font-weight: 600; font-size:14px;">Stay</div>
      <div class="v-card__subtitle text-center subtitle-1 pb-4"> Room & Services </div>   
      </div>
      </div>
      
      </div>



</div>
</div>
</div>
</div>


<div class="container-fluid card-wrapper">
<div class="container-fluid">
<div class="container ss">
<div class="row">
 <div class="col-sm-3">
            
<div class="card"routerLink="/booking">

<img style="height: 150px; max-width:100%"  class="card-img-top" src="../assets//image/experience.jpg" alt="Card image">
<div class="card-body"style="height:70px;">
<div class="v-card__subtitle text-center subtitle-1 pb-4" style="color: black; height:20px; font-weight: 600; font-size:14px;">Stay</div>
<div class="v-card__subtitle text-center subtitle-1 pb-4"> Room & Services </div>   
</div>
</div>
</div>
<div class="col-sm-3">
            
  <div class="card"routerLink="/booking">
  
  <img style="height: 150px; max-width:100%"  class="card-img-top" src="../assets//image/experience.jpg" alt="Card image">
  <div class="card-body"style="height:70px;">
  <div class="v-card__subtitle text-center subtitle-1 pb-4" style="color: black; height:20px; font-weight: 600; font-size:14px;">Stay</div>
  <div class="v-card__subtitle text-center subtitle-1 pb-4"> Room & Services </div>   
  </div>
  </div>
  
  </div>
  <div class="col-sm-3">
            
    <div class="card"routerLink="/booking">
    
    <img style="height: 150px; max-width:100%"  class="card-img-top" src="../assets//image/.jpg" alt="Card image">
    <div class="card-body"style="height:70px;">
    <div class="v-card__subtitle text-center subtitle-1 pb-4" style="color: black; height:20px; font-weight: 600; font-size:14px;">Stay</div>
    <div class="v-card__subtitle text-center subtitle-1 pb-4"> Room & Services </div>   
    </div>
    </div>
    
    </div>
    <div class="col-sm-3">
            
      <div class="card"routerLink="/booking">
      
      <img style="height: 150px; max-width:100%"  class="card-img-top" src="../assets//image/experience.jpg" alt="Card image">
      <div class="card-body"style="height:70px;">
      <div class="v-card__subtitle text-center subtitle-1 pb-4" style="color: black; height:20px; font-weight: 600; font-size:14px;">Stay</div>
      <div class="v-card__subtitle text-center subtitle-1 pb-4"> Room & Services </div>   
      </div>
      </div>
      
      </div>
</div>
</div>
</div>

<div class="container-fluid card-wrapper">

  <div class="container-fluid">
        
  <div class="container ss">
                    
  <div class="row">
 <div class="col-sm-3">
            
<div class="card"routerLink="/booking">

<img style="height: 150px; max-width:100%"  class="card-img-top" src="../assets//image/experience.jpg" alt="Card image">
<div class="card-body"style="height:70px;">
<div class="v-card__subtitle text-center subtitle-1 pb-4" style="color: black; height:20px; font-weight: 600; font-size:14px;">Stay</div>
<div class="v-card__subtitle text-center subtitle-1 pb-4"> Room & Services </div>   
</div>
</div>
</div>
<div class="col-sm-3">
            
  <div class="card"routerLink="/booking">
  
  <img style="height: 150px; max-width:100%"  class="card-img-top" src="../assets//image/experience.jpg" alt="Card image">
  <div class="card-body"style="height:70px;">
  <div class="v-card__subtitle text-center subtitle-1 pb-4" style="color: black; height:20px; font-weight: 600; font-size:14px;">Stay</div>
  <div class="v-card__subtitle text-center subtitle-1 pb-4"> Room & Services </div>   
  </div>
  </div>
  
  </div>
  <div class="col-sm-3">
            
    <div class="card"routerLink="/booking">
    
    <img style="height: 150px; max-width:100%"  class="card-img-top" src="../assets//image/experience.jpg" alt="Card image">
    <div class="card-body"style="height:70px;">
    <div class="v-card__subtitle text-center subtitle-1 pb-4" style="color: black; height:20px; font-weight: 600; font-size:14px;">Stay</div>
    <div class="v-card__subtitle text-center subtitle-1 pb-4"> Room & Services </div>   
    </div>
    </div>
    
    </div>
    <div class="col-sm-3">
            
      <div class="card"routerLink="/booking">
      
      <img style="height: 150px; max-width:100%"  class="card-img-top" src="../assets//image/experience.jpg" alt="Card image">
      <div class="card-body"style="height:70px;">
      <div class="v-card__subtitle text-center subtitle-1 pb-4" style="color: black; height:20px; font-weight: 600; font-size:14px;">Stay</div>
      <div class="v-card__subtitle text-center subtitle-1 pb-4"> Room & Services </div>   
      </div>
      </div>
      
      </div>
</div>
</div>
</div>

<div class="container-fluid card-wrapper">

  <div class="container-fluid">
        
  <div class="container ss">
                    
  <div class="row">
 <div class="col-sm-3">
            
<div class="card"routerLink="/booking">

<img style="height: 150px; max-width:100%"  class="card-img-top" src="../assets//image/experience.jpg" alt="Card image">
<div class="card-body"style="height:70px;">
<div class="v-card__subtitle text-center subtitle-1 pb-4" style="color: black; height:20px; font-weight: 600; font-size:14px;">Stay</div>
<div class="v-card__subtitle text-center subtitle-1 pb-4"> Room & Services </div>   
</div>
</div>

</div>
<div class="col-sm-3">
            
  <div class="card"routerLink="/booking">
  
  <img style="height: 150px; max-width:100%"  class="card-img-top" src="../assets//image/experience.jpg" alt="Card image">
  <div class="card-body"style="height:70px;">
  <div class="v-card__subtitle text-center subtitle-1 pb-4" style="color: black; height:20px; font-weight: 600; font-size:14px;">Stay</div>
  <div class="v-card__subtitle text-center subtitle-1 pb-4"> Room & Services </div>   
  </div>
  </div>
  
  </div>
  <div class="col-sm-3">
            
    <div class="card"routerLink="/booking">
    
    <img style="height: 150px; max-width:100%"  class="card-img-top" src="../assets//image/experience.jpg" alt="Card image">
    <div class="card-body"style="height:70px;">
    <div class="v-card__subtitle text-center subtitle-1 pb-4" style="color: black; height:20px; font-weight: 600; font-size:14px;">Stay</div>
    <div class="v-card__subtitle text-center subtitle-1 pb-4"> Room & Services </div>   
    </div>
    </div>
    
    </div>
    <div class="col-sm-3">
            
      <div class="card"routerLink="/booking">
      
      <img style="height: 150px; max-width:100%"  class="card-img-top" src="../assets//image/experience.jpg" alt="Card image">
      <div class="card-body"style="height:70px;">
      <div class="v-card__subtitle text-center subtitle-1 pb-4" style="color: black; height:20px; font-weight: 600; font-size:14px;">Stay</div>
      <div class="v-card__subtitle text-center subtitle-1 pb-4"> Room & Services </div>   
      </div>
      </div>
      
      </div>



</div>
</div>
</div>
</div>

<div class="container-fluid card-wrapper">

  <div class="container-fluid">
        
  <div class="container ss">
                    
  <div class="row">
 <div class="col-sm-3">
            
<div class="card"routerLink="/booking">

<img style="height: 150px; max-width:100%"  class="card-img-top" src="../assets//image/experience.jpg" alt="Card image">
<div class="card-body"style="height:70px;">
<div class="v-card__subtitle text-center subtitle-1 pb-4" style="color: black; height:20px; font-weight: 600; font-size:14px;">Stay</div>
<div class="v-card__subtitle text-center subtitle-1 pb-4"> Room & Services </div>   
</div>
</div>

</div>
<div class="col-sm-3">
            
  <div class="card"routerLink="/booking">
  
  <img style="height: 150px; max-width:100%"  class="card-img-top" src="../assets//image/experience.jpg" alt="Card image">
  <div class="card-body"style="height:70px;">
  <div class="v-card__subtitle text-center subtitle-1 pb-4" style="color: black; height:20px; font-weight: 600; font-size:14px;">Stay</div>
  <div class="v-card__subtitle text-center subtitle-1 pb-4"> Room & Services </div>   
  </div>
  </div>
  
  </div>
  <div class="col-sm-3">
            
    <div class="card"routerLink="/booking">
    
    <img style="height: 150px; max-width:100%"  class="card-img-top" src="../assets//image/experience.jpg" alt="Card image">
    <div class="card-body"style="height:70px;">
    <div class="v-card__subtitle text-center subtitle-1 pb-4" style="color: black; height:20px; font-weight: 600; font-size:14px;">Stay</div>
    <div class="v-card__subtitle text-center subtitle-1 pb-4"> Room & Services </div>   
    </div>
    </div>
    
    </div>
    <div class="col-sm-3">
            
      <div class="card"routerLink="/booking">
      
      <img style="height: 150px; max-width:100%"  class="card-img-top" src="../assets//image/experience.jpg" alt="Card image">
      <div class="card-body"style="height:70px;">
      <div class="v-card__subtitle text-center subtitle-1 pb-4" style="color: black; height:20px; font-weight: 600; font-size:14px;">Stay</div>
      <div class="v-card__subtitle text-center subtitle-1 pb-4"> Room & Services </div>   
      </div>
      </div>
      
      </div>



</div>
</div>
</div>
</div>
  
       